{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign swatch = product-swatch %}
{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}
{% assign color_array = sortColors | split: "," %}
{% assign variant_array = variantColors | split: "|||" %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'farbe' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="option_title">{{ swatch }}</div>
  {% if is_color %}
    <div class="swatch-items">
  {% endif %}
  {% assign logo_values = '' %}
  {% for color_item in color_array %}
    {% assign color_values = '' %}
    {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% unless color_values contains value or logo_values contains value %}
        {% if is_color and color_item == value %}
          {% assign color_values = color_values | join: ',' %}
          {% assign color_values = color_values | append: ',' | append: value %}
          {% assign color_values = color_values | split: ',' %}
          <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
          <div data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element color {{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
              <div class="tooltip">{{ value }}</div>
              <label {% if variant.featured_image %}
                        data-image="{{ variant.featured_image | product_img_url: '600x' }}"
                      {% endif %}
                      for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};">
                <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}"/>
              </label>
          </div>
        {% elsif is_color == false %}
        {{color_item}}
          <div class="logo-type-select">
            <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
            <span class="radiobtn"></span>
            <div data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element {{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
              <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" class="logo-type-label">
                  {{ value }}
                  <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}"/>
              </label>
            </div>
          </div>
        {% endif %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
  {% if is_color %}
    </div>
  {% endif %}
</div>

{% if is_color %}
<div class="materials" style="display: none;">
  
  {% assign item_count = 0 %}
  {% for variant_item in variant_array %}
    {% assign group_values = '' %}
    {% assign temp = variant_item | split: ":" %}
    {% assign title = temp[0] %}
    {% assign variant_list = temp[1] | split: "," %}

    <div class="swatch clearfix">
      {% assign option_title_flag = false %}
      {% for variant in product.variants %}
        {% assign value = variant.options[option_index] %}
        {% if variant_list contains value %}
          {% unless group_values contains value %}
            {% assign group_values = group_values | join: ',' %}
            {% assign group_values = group_values | append: ',' | append: value %}
            {% assign group_values = group_values | split: ',' %}
            
            {% if option_title_flag == false %}
              {% assign item_count = item_count | plus: 1 %}
              <div class="option_title">{{ title }}</div>
              {%comment%}
              {% if item_count == 4 %}
                {% break %}
              {% endif %}
              {%endcomment%}
              
              {% assign option_title_flag = true %}
            {% endif %}
            <input id="m-swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
            <div data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element color {{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
              <div class="tooltip">{{ value }}</div>
              <label {% if variant.featured_image %}
                        data-image="{{ variant.featured_image | product_img_url: '600x' }}"
                      {% endif %}
                      for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};">
                <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}"/>
              </label>
            </div>
          {% endunless %}
        {% endif %}
      {% endfor %}
{% comment %}
    {% if item_count == 4 %}
      </div>
      {% break %}
    {% endif %}
{% endcomment %}
    </div>
  {% endfor %}
</div>
<button class="all-material-toggle"><span class="btn-label">Alle Materialien zeigen</span><span class="right icon-down-arrow"></span></button>
{% endif %}